@model IEnumerable<FixedAssetsStockTaking.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventar.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-username="@item.Username" asp-route-inventarId="@item.InventarID">Edit</a> |
                    <a asp-action="Details" asp-route-username="@item.Username" asp-route-inventarId="@item.InventarID">Details</a> |
                    <a asp-action="Delete" asp-route-username="@item.Username" asp-route-inventarId="@item.InventarID">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
