@model FixedAssetsStockTaking.Models.Inventar

@{
    ViewData["Title"] = "Index";
}



<div class="overlay"></div>


<div class="top-div">
    <p class="Logo">LOGO HERE</p>
</div>

<div class="subtop-div">
    <p class="text1">Inventory Manager</p>
    <p class="text2">  v.1.0</p>
</div>

<div class="search-inventar">
    <div class="cont-items">

        <form id="form1">
                <input class="search item" type="text" placeholder="Search.." />
        </form>     
        @{
            var verify = ViewData["verify"] as string;
        }

        @if (verify != null && verify.Contains("YES"))
        {
            <div style="right: 3rem" class="add item">
                <a class="two">
                    <img style="height: 60%;margin: 0.9rem;" src="\img\plus.png" alt="form"></img>
                </a>
            </div>
            <div style="right: -3rem" class="user item">
                <a class="two" onclick="ShowCreateModal()">
                    <img style="height: 60%;margin: 0.9rem;" src="\img\user.png" alt="form"></img>
                </a>
            </div>
        }
        else
        {
            <div style="right: 3rem" class="add item">
                <a asp-action="Restricted" class="two">
                    <img style="height: 60%;margin: 0.9rem;" src="\img\plus.png" alt="form"></img>
                </a>
            </div>
            <div style="right: -3rem" class="user item">
                <a asp-action="Restricted" class="two" onclick="ShowCreateModal()">
                    <img style="height: 60%;margin: 0.9rem;" src="\img\user.png" alt="form"></img>
                </a>
            </div>
        }
 

        
    </div>
</div>

<div class="container-body">

    @functions {
        public string TruncateName(string name)
        {
            if (name.Length > 15)
            {
                return name.Substring(0, 13) + "...";
            }
            else
            {
                return name;
            }
        }
    }
    <div class="table-inventory">
            @foreach (var item in ViewData["Inventar"] as List<Inventar>)
       {
          <div class="inventare">
           <button>
                    <div style="color:black;height: 90%;"><a style="color:black;" asp-action="Details" asp-route-id=@item.ID>

                   <div class="title-inventory">
                            <p class="titlu">
                                    @TruncateName(item.Name)
                            </p>
                   </div>
                @if (item.Status == "OPEN")
                {
                    <div class="info1" >
                                <p class="By">@Html.DisplayNameFor(model => model.CreatedBy): @Html.DisplayFor(modelItem => item.CreatedBy)</p>
                                <p class="Date">@Html.DisplayNameFor(model => model.CreateDate): @Html.DisplayFor(modelItem => item.CreateDate)</p>
                   </div>
                        <div class="separator">
                        </div>
                    <div class="info2">
                        <p>@Html.DisplayFor(modelItem => item.Status)</p>
                    </div>
                }
                else
                {
                    <div class="info1CLOSED">
                        <p>@Html.DisplayNameFor(model => model.CreatedBy): @Html.DisplayFor(modelItem => item.CreatedBy)</p>
                        <p>@Html.DisplayNameFor(model => model.CreateDate): @Html.DisplayFor(modelItem => item.CreateDate)</p>
                    </div>
                        <div class="separator2">
                        </div>
                    <div class="info2CLOSED">
                        <p>@Html.DisplayNameFor(model => model.ClosedBy): @Html.DisplayFor(modelItem => item.ClosedBy)</p>
                        <p>@Html.DisplayNameFor(model => model.ClosedDate): @Html.DisplayFor(modelItem => item.ClosedDate)</p>
                    </div>
                }

                    </a>
                </div>           
           </button>
         </div>
        }
    </div>

    
</div>

<div class="modal-background"></div>

<div class="modall" id="myModal">
    
    <h1>CREATE INVENTAR</h1>
    <form asp-action="Create" style="height:35%;">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group-first" style="height:100%">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    
        <div class="down-bb">
            <input type="submit" value="CREATE" class="create-btn" />
            <button type="button" value="CLOSE" class="create-btn" id="modal-close" onclick="closeModal()">
                CLOSE
            </button>
        </div>

    </form>

        

</div>
<div class="modal fade" id="UserModal" role="dialog">
        <div class="modal-dialog" id="userModelDialog" style="height:100%">
            @*VIEW*@
        </div>
    </div>
<div class="moda" id="listModal" tabindex="-1" aria-labelledby="listModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height:100%;">
        <div class="modal-content" style="height:100%;top:0rem;">
            <div class="modal-header">
                <h5 class="modal-title" id="listModalLabel">List of SuperAdmins</h5>
            </div>
            <div class="modal-body" style="height:70%;">
                <div class="sups" style="height:100%;">
                    <table style="margin-top: 10%; height:100%;">
                        <tr>
                            <th class="header-table" style="text-align:center;height:4rem;background-color:#1194ad;color:white;font-size:2rem;    width: 20rem;">Username</th>
                        </tr>
                        @foreach (var sup in ViewData["sups"] as List<SuperAdmin>)
                        {
                            <tr style="text-align: center;border-top: none;background-color: #aaecf7;">
                                <th class="rows" style="text-align: center;border-top: none;height: 3rem;    width: 20rem;">@sup.Name</th>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function openModal() {
        var modal = document.getElementById('myModal');
        var overlay = document.querySelector('.overlay');
        modal.style.display = 'block';
        modal.classList.add('fade-in');
        overlay.style.display = 'block'; 
    }

    //$(document).ready(function () {
    //    $("#modal-close").click(function () {
    //        $("#UserModal").modal("hide");  // Închide UserModal
    //        $("#listModal").modal("hide");  // Închide ListModal
    //    });
    //});

    function closeModal() {
        var modal = document.getElementById('myModal');
        var overlay = document.querySelector('.overlay');
        modal.classList.remove('fade-in');
        modal.classList.add('fade-out');
        setTimeout(function () {
            modal.style.display = 'none';
            modal.classList.remove('fade-out');
            overlay.style.display = 'none';
        }, 300); 
    }

    var addItemButton = document.querySelector('.add.item a');
    addItemButton.addEventListener('click', openModal);


    //////////////////////////////////////////////////////////////////////////////////////////////


    function ShowCreateModal() {
        console.log("ShowCreateModal() was called.");
        $.get("@Url.Action("CreateModal","Superadmins")",
            function (data) {
                $("#userModelDialog").html(data);
                
            });
        $("#UserModal").modal("show");
    }


    //////////////////////////////////////////////////////////////////////////////////////////////

    function filterCards(searchText) {
        var searchValue = searchText.toLowerCase().trim();
        $('.table-inventory button').each(function () {
            var cardContent = $(this).text().toLowerCase();
            if (cardContent.indexOf(searchValue) !== -1) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }

    $(document).ready(function () {
        $('.search').on('keyup', function () {
            var searchText = $(this).val();
            filterCards(searchText);
        });
    });

    function handleKeyPress(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            const searchItem = document.querySelector('.search-item');
            searchItem.innerText = ''; 
        }
    }

</script>

<style>

    .info2CLOSED{
        position: relative;
        font-size: 1.1rem;
        bottom: 0.5rem;
    }

    .separator2{
        height: 1px;
        width: 60%;
        margin-left: 20%;
        background-color: black;
        position: relative;
        top: -1.5rem;
    }

    .info1CLOSED{
        position: relative;
        font-size: 1.1rem;
        top: -1.5rem;
    }

    .info2{
        position: relative;
        font-size: 2rem;
        color: #1196ad;
        top: 0rem;
        font-family: Verdana;
    }

    .separator{
        height: 1px;
        width: 60%;
        margin-left: 20%;
        background-color: black;
        position: relative;
        top: -0.5rem;
    }

    .info1{
        position: relative;
        font-size: 1.1rem;
        top: -1rem;
    }

    .titlu{
        font-weight: bold;
        font-size: 137%;
        padding-top: 3%;
        position: relative;
        left: 2%;
    }
    .Logo{
        font-size: 450%;
        font-weight: bold;
        text-shadow: 0 3px 10px rgb(0 0 0 / 0.2)
    }

    .text1{
        font-size: 200%;
        font-weight: bold;
        text-shadow: 0 7px 8px rgb(0 0 0 / 0.33);
        margin: 0;
        display: inline-block;
    }

    .text2{
        font-size: 100%;
        font-weight: bold;
        text-shadow: 0 7px 8px rgb(0 0 0 / 0.33);
        margin: 0;
        display: inline-block;
        margin-left: 0.5rem;
    }

    @@media only screen and (max-width: 1366px) {

        .rows{
            height: 2rem !important;
            font-size: 1.4rem !important;
        }

        .header-table{
            height: 2rem !important;
            font-size: 1.5rem !important;
        }

        h5{
            font-size:1.5rem!important;
        }

        .create-super{
            font-size: 1.2rem !important;
        }   
        
        .control-label{
            font-size: 1rem!important;
        }

        h1{
            font-size: 1.7rem;
        }

        .info2CLOSED{
            font-size: 0.8rem;
            bottom: 1rem;
        }

        .separator2{
            top: -1.5rem;
        }
        .info1CLOSED{
            font-size: 0.8rem;
        }

        .info2{
            top: -0.5rem;
            font-size: 1.8rem;
        }


        .separator{
            top: -1rem;
        }        
        
        .info1{
            font-size:0.8rem;
        }

        .button{
        
        }

        a img{
            max-height: 3rem;
        }

        .title-inventory{
            top: -2rem !important;
        }

        .titlu{
            font-size: 116%;
        }

        .Logo{
            font-size: 3rem;
            margin: 0;
        }

        .text1{
            font-size: 1.3rem;
            text-shadow: 0 4px 3px rgb(0 0 0 / 0.33);
        }
        .text2{
            font-size: 0.7rem;
        }
            body {
                font-size: 14px;
            }

            .top-div {
            max-width: 30rem;
            font-size: 3rem;
            max-height: 3.8rem;
            }

            .subtop-div {
            max-width: 20rem;
            font-size: 1rem;
            max-height: 1.9rem;
            }

            .search-inventar {
               
            }

            .cont-items {

            }

            .search {

            }

            .add,
            .user {
            max-height: 3.5rem;
            max-width: 3.5rem;
            }

            .modal,
            .modall,
            #UserModal {

            }

            .table-inventory button {
            margin-top: 15%;
            margin-left: 3.25rem;
            margin-right: 3.25rem;
            height: 10.5rem;
            width: 12.1rem;
            }

            .container-body {
                top: 46%;
            }
    }


  

    .modal-body{
        overflow-y: auto;
        height: 17rem;
    }

    .down-bb{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        height:100%;
        left: 15%;
        top: 20%;
        position: relative;
    }

    .moda{
        display:none;
        position: absolute;
        right: 17.5%;
        z-index: 9999;
        top: 18.5%;
        height: 35%;
        width: 18.5%;
        box-shadow: 0 8px 15px rgb(0 0 0 / 0.5);
    }

    .modal-body::-webkit-scrollbar-track {
        border-radius: 0.125rem;
        background-color: #aeecf7;
    }

    .modal-body::-webkit-scrollbar {
        width: 0.2rem;
        height: 2rem;
        border-radius: 0.125rem;
    }

    .modal-body::-webkit-scrollbar-thumb {
        border-radius: 0.125rem;
        background-color: #1194ad;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Change the alpha value to control the darkness */
        z-index: 9999; /* Make sure the overlay is above everything else */
    }

    .user-modal {
        display: none;
        position: fixed;
        top: 47%;
        height: 45rem;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40rem;
        max-width: 90%;
        background-color: #1196ad box-shadow: 0 8px 15px rgb(0 0 0 / 0.5);
        border-radius: 0.5rem;
        padding: 2rem;
        z-index: 9999;
    }

    .user-modal-close {
        position: absolute;
        top: 0rem;
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
    }

    .user-modal-background {
        background-color: rgba(0, 0, 0, 0.6);
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9998;
    }

    .form-username, .form-email {
        display: block;
        width: 100%;
        height: 3rem;
        padding: 0.375rem 0.75rem;
        font-size: 2rem;
        font-weight: 400;
        color: #212529;
        border: 1px solid #1196ad;
        border-radius: 0.25rem;
        transition: border-color .5s ease-in-out, box-shadow .5s ease-in-out;
    }

    .form-group {
        margin-top: 1.7rem;
    }

    .control-label{
        font-size: 1.5rem;
    }

    .form-name {
        display: block;
        width: 100%;
        height: 60%;
        padding: 0.375rem 0.75rem;
        font-size: 2rem;
        font-weight: 400;
        color: #212529;
        border: 1px solid #ced4da;
        border-radius: 0.85rem;
        box-shadow: 0 2px 5px rgb(0 0 0 / 0.5);
        transition: border-color .5s ease-in-out,box-shadow .5s ease-in-out;
    }

        .create-btn:focus, .create-btn:active:focus, .form-name:focus, .form-name:focus {
            box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #1196ad;
        }

        .search:focus, .form-name:focus {
            outline: none;
            box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #1196ad;
        }

    .form-group {
        margin-top: 1.7rem;
    }

    .create-btn {
        font-size: 150%;
        font-weight: bold;
        color: #585d61;
        height: 80%;
        width: 40%;
        background-color: white;
        position: relative;
        border-radius: 1rem;
        border: 0.17rem solid #1196ad;
        box-shadow: 0 0 0.313rem 0.018rem black;
        margin: 0;
    }

    .create-super{
        font-size: 1.6rem;
        font-weight: bold;
        color: #585d61;
        height: 120%;
        width: 30%;
        background-color: white;
        position: relative;
        border-radius: 1rem;
        border: 0.17rem solid #1196ad;
        box-shadow: 0 0 0.313rem 0.018rem black;
        margin: 0;
    }

    .down-buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15%;
        margin-bottom: 1rem;
        height: 30%;
        width: 100%;
    }
   
        .create-btn:hover {
            border: 0.12rem solid #0d7182;
            box-shadow: 0 0 0.313rem 0.138rem #0d7182;
        }

    .modal{
        display: none;
        position: fixed;
        top: 31%;
        height: 20rem;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30rem;
        max-width: 90%;
        background-color: white;
        box-shadow: 0 8px 15px rgb(0 0 0 / 0.5);
        border-radius: 0.5rem;
        padding: 2rem;
        z-index: 9999;
    }

    .modall{
        display: none;
        position: fixed;
        top: 31%;
        height: 33.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 33%;
        max-width: 90%;
        background-color: white;
        box-shadow: 0 8px 15px rgb(0 0 0 / 0.5);
        border-radius: 0.5rem;
        padding: 2%;
        z-index: 9999;
    }

    #UserModal{
        top: 36%;
        height: 35%;
        width:25%;
    }

    .modal-close {
        position: absolute;
        top: 0rem;
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
    }

    .body.modal-open {
        overflow: hidden;
    }

    .modal-background {
        background-color: rgba(0, 0, 0, 0.6);
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9998;
    }

    a {
        text-decoration: none;
    }

    .title-inventory {
        background-color: white;
        width: 100%;
        height: 25%;
        position: relative;
        top: -2.5rem;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        box-shadow: 0 8px 8px rgb(0 0 0 / 0.3);
        background-image: url(/img/inventar.png);
        background-repeat: no-repeat;
        background-size: 13% 77%;
        background-position-x: 7%;
        background-position-y: center;
    }

    .table-inventory {
        top: 0;
        position: relative;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        overflow-y: auto;
        margin-left: 4%;
        margin-right: 3.9%;
    }

        .table-inventory::-webkit-scrollbar-track {
        border-radius: 0.125rem;
        background-color: #aeecf7;
    }

        .table-inventory::-webkit-scrollbar {
        width: 0.2rem;
        height: 2rem;
        border-radius: 0.125rem;
    }

        .table-inventory::-webkit-scrollbar-thumb {
        border-radius: 0.125rem;
        background-color: #1194ad;
    }

    button {
        height: 13rem;
        width: 17.7rem;
        margin-top: 13.5%;
        margin-bottom: 6%;
        margin-left: 4.25rem;
        background-color: white;
        margin-right: 4.25rem;
        padding: 0;
        border: 0;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        box-shadow: 0 8px 15px rgb(0 0 0 / 0.5);
    }

    .container-body {
        width: 95%;
        height: 60%;
        background-color: #aeecf7;
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 2%;
        box-shadow: 0 8px 15px rgb(0 0 0 / 0.5);
        border-radius: 0.5rem;
    }

    body {
        background-color: #1196ad;
    }

    th {
        border: solid 0.15rem black;
        /*border-bottom: solid 0.3rem white;*/
        font-size: 1.5rem;
    }

    td {
        color: black;
        border: solid 0.15rem white;
        height: 3rem;
        font-size: 1.2rem;
        padding: 0.5rem;
        font-family: Verdana;
    }

    .search-inventar {
        width: 95%;
        height: 12%;
        background-color: #aeecf7;
        position: absolute;
        top: 22%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 8px 15px rgb(0 0 0 / 0.5);
        border-radius: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .two{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .cont-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        position: absolute;
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
        height: 75%;
    }
    
    #form1{
        width:100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .search {
        background-color: white;
        height: 85%;
        width: 100%;
        border-radius: 0.5rem;
        border: none;
        box-shadow: 0 8px 10px rgb(0 0 0 / 0.3);
        font-size: 2rem;
        text-align: center;
        background-image: url(/img/lupa.png);
        background-repeat: no-repeat;
        background-size: 5% 100%;
        background-position-x: 0.7rem;
        transition: border-color .35s ease-in-out,box-shadow .35s ease-in-out;
    }

    .add, .user {
        margin-left: 2%;
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 0.5rem;
        background-color: white;
        box-shadow: 0 8px 15px rgb(0 0 0 / 0.5);
        cursor: pointer;
        display: flex;
        align-items: center;
    }



    .top-div {
        position: relative;
        width: 37%;
        height: 5.8rem;
        text-align: center;
        margin: 0 auto;
        clear: left;
        z-index: 0;
        overflow: hidden;
    }

    .subtop-div {
        position: relative;
        width: 27%;
        height: 4.5rem;
        text-align: center;
        margin: 0 auto;
        clear: left;
        z-index: 0;
        overflow: hidden;
    }
</style>
